/**
 * Cardio Page Styles (CSS Modules)
 */

.comment {
  color: var(--color-secondary);
  font-size: var(--font-size-sm);
  text-align: center;
}

.metric {
  font-size: var(--font-size-sm);
  color: var(--color-secondary);
}

